*{
    margin: 0;
    padding: 0;
}
body{
    
    display: grid;
    place-items: center;
    min-height: 100vh;
}
h1{
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    overflow: hidden;
    color: white;
    background-color: hsl(0, 0%, 20%);
    
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0 0% 30%);
    color:white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl(0, 0%, 10%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
  
    text-align: center;

}
button:hover
{
    background-color: hsl(0, 0%, 20%);
}
button:active
{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(39, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);

}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}